@import "general.scss";
@import "./component/nav.scss";
@import "./component/header.scss";
@import "./component/hebergements-and-populaires.scss";
@import "./component/activite.scss";
@import "./component/footer.scss";
@import "responsive.scss";