.activite {
    --img-height: 380px;
    
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        a {
            width: 100%;
        }

        .card {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    
        img {
            height: var(--img-height);
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    
        .card-content {
            width: 100%;
            height: calc(100% - var(--img-height));
            padding: 20px 19px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
        }

        .card-title {
            margin: 0;
            padding: 0;
        }

    }
}

