footer {
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--main-bg-color);
    gap: 30px;
    
    .column {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }
}