/******** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;

    section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }
}

/******** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .card {
        display: flex;
        flex-direction: column;
    }

    img {
        height: 136px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .card-content {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .card-subtitle {
        margin: 0;
    }

    .card-rating {
        margin-bottom: 5px;
    }
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    .card {
        display: flex;
        margin-top: 33px;
    }

    img {
        width: 33%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .card-subtitle {
        margin: 0;
    }

    .card-rating {
        margin-bottom: 5px;
    }
}
