/****** NAV ***********/

nav {
    --height: 79px;
    width: 100%;
    height: var(--height);
    display: flex;
    justify-content: space-between;

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img  {
            max-height: 19px;
        }
    }

    ul {
        list-style: none;
        display: flex;
        gap: 68px;
        padding: 0 50px;
        margin: 0;
    }

    a {
        height: 35px;
        display: flex;
        align-items: end;
        border-top: 2px solid transparent;
    }

    a:hover, .selected {
        border-top: 2px var(--main-color) solid;
        color: var(--main-color);
    }

}